/* Vos customisations des classes de Bootstrap */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* MON HEADER*/
header{
    background-color: black;
   justify-content: center;
   height: 40px;
}
nav{
    display: flex;
  justify-content: space-around;
  margin-left: 150px;
}
.block{
    color: rgb(119, 118, 118);
    display: flex;
    gap: 20px;
    padding-top: 8px;
}
.Monimage{
    margin-left: 150;
    padding-top: 10px;
}

button{
    background-color: rgb(251, 51, 33);
   border-radius: 0px;
   color: white;
   border-radius: 3px;
   border: none;
    width: 120px;
    height: 40px;
}
button:hover{
    background-color: brown;
}

.Btn{
    padding-top: 30px;
}

.code{
    padding-top: 30px;
}

/* Home*/

#home{
    background-image: url(/Squelette/images/hero-image.jpg);
    background-size: cover;
    height: 25rem;
   background-repeat: no-repeat;
   display: flex;
   text-align: center;
}

.Texte{
    padding-top: 20px;
    color: white;
}

.Texte1{
   margin-left: 200px;
    align-items: flex-start;
    padding-top: 10px;
    color: white;
}
.White{
    font-size: large;
}

.Whitebtn{
    font-size: larger;
}

span{
font-weight: 900;
font-size: xx-large;
}

/* Deuxieme section*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.content img{
    margin-bottom: 12px;
    width: 100px;
    height: auto;
    max-width: 300px;
}
.content .text-top{
    margin-bottom: 10px;
    color: orange;
    font-weight: bold;
    text-align: center;
}

.content .text-top hr{
    width: 70%;
    border: 1px solid red;
    margin: 8px auto 0;
}

.content .text-bottom{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    line-height: none;
}





.Whitetxt{
    color: orange;
    font-size: large;
    margin-top: 30px;
}
.Texte3{
    font-weight: 900;
    color: red;
    font-size: large;
    padding-top: 10px;
    align-items: flex-start;
    
}
.imgacad{
  
}

.Texte4{
    padding-top: 10px;
  margin-bottom: 10px;
  margin-right: 370px;
  text-align: center;
 align-items: flex-start;
}
.trait{
    width: 100px;
   margin-left: 582px;
  margin-top: 2px;
  color: red;
}


/* Troisieme section */

#get-involved{
background-color: rgb(230, 227, 227);
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 20px;
}


.card {
    width: 280px;
    padding: 20px;
  }

  .flexcard{
    display: flex;
    justify-content: center;
  }

.Texte4{
    font-weight: 900;
    color: red;
    font-size: large;
    padding-top: 10px;
    margin-right: 300px;
    margin-left: 250px;
}

.trait2{
    width: 100px;
   margin-left: 260px;
  margin-bottom: 20px;
  color: red;
}
.card{
  flex-wrap: wrap;
}

h3{
    color: orange;
    text-align: center;
}
.Titre2{
  margin-top: 10px;
  
}
.imgicone{
    margin-left: 100px;
    margin-bottom: 10px;
}

.imgicone1{
    margin-left: 100px;
    margin-bottom: 30px;
}

.orangebtn{
    background-color: white;
    color: orange;
}

  
/* footer */

footer{
    background-color: orange;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 140px;
    position: relative;
}

.footer-content{
   display: flex;
 flex-direction: column;
 text-align: center;
 margin-left: 160px;
 
}

.footer-content img{
width: 200px;
margin-bottom: 10px;
}

.footer-content p{
    margin: 0;
    
}


/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
